

{{>nav}}


<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <style>
    body {
        font-family: Arial, sans-serif;
    }

    form {
        margin: 20px auto;
        width: 300px;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .search-div,
    .genre-div {
        margin-bottom: 10px;
    }

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    input[type="search"] {
        width: calc(100% - 10px);
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    input[type="submit"] {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #0056b3;
    }
</style>
</head>

<body>
    <style>
    .custom-btn {
        background-color: green;
        border-color: green;
        position: absolute; /* Position the button absolutely within the container */
        bottom: 10px; /* Distance from the bottom */
        right: 10px; /* Distance from the right */
    }

    .custom-btn:hover {
        background-color: darkgreen;
        border-color: darkgreen;
    }
    </style>
    <h1 class="p-3">Explore:</h1>

    <div class="container d-flex flex-column p-2">
    <!-- SEARCH BAR -->

    <form action="/explore" method="POST">
        
        <div class="search-div">
            <label for="search">Search</label>
            <input type="search" id="search" name="search" placeholder="Name">
        </div>

        <div class="genre-div">
            <label for="genre">Genre</label>
{{!--             <input type="search" id="genre" name="genre" placeholder="Genre">--}}
            <select name="genre" id="genre">
              <option value="Adventure">Adventure</option>
              <option value="Point-and-click">Point-and-click</option>
              <option value="Fighting">Fighting</option>
              <option value="Shooter">Shooter</option>
              <option value="Music">Music</option>
              <option value="Platform">Platform</option>
              <option value="Puzzle">Puzzle</option>
              <option value="Racing">Racing</option>
              <option value="Real Time Strategy (RTS)">Real Time Strategy (RTS)</option>
              <option value="Role-playing (RPG)">Role-playing (RPG)</option>
              <option value="Simulator">Simulator</option>
            </select>
        </div>

        <input type="submit" value="Explore">
  </form>


</div>




    {{!-- DISPLAY BOOTSTRAP CARDS FOR GAMES --}}
    <div class="container d-flex flex-column p-3">


        <h4>Popular</h4>

        <div class="d-flex flex-wrap justify-content-evenly p-1">


        
        {{#each result}}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body" id="card-body-{{this.id}}"> <!-- Unique ID based on game ID -->
                        {{#if this.cover}}
                            <div class="cover cover-{{this.id}}"> <!-- Unique class based on game ID -->
                                <!-- Placeholder for the image -->
                            </div>
                            <script>
                                var og_url = "{{this.cover.url}}";
                                var new_url = og_url.replace('t_thumb', 't_screenshot_med');

                                var img = document.createElement('img');
                                img.src = new_url;
                                img.className = "d-block w-100";
                                img.style.maxWidth = "569px";
                                img.style.maxHeight = "374px";
                                img.style.marginLeft = "auto";
                                img.style.marginRight = "auto";
                                img.style.width = "auto";
                                img.style.height = "auto";
                                img.alt = "Cover Slide";
                                document.querySelector('.cover-{{this.id}}').appendChild(img); // Selecting based on the unique class
                            </script>
                        {{else}}
                            <img src="https://t4.ftcdn.net/jpg/01/09/00/83/360_F_109008395_OQDupHMza1V6CNOzrJwWAKlaktT4IsRW.jpg" class="card-img-top" alt="Event Image">
                        {{/if}}

                        <p class="card-text">Name: {{this.name}}</p>
                        {{#each genres}}
                            <p class="card-text">Genre: {{this.name}}</p>
                        {{/each}}

                        <br>  
                        <form action="/game" method="GET">
                            <input type="hidden" name="game_title" value="{{this.name}}">

                            <input type="submit" value="Take a Look">

                        </form>
                    </div>
                </div>
            </div>
        {{/each}}

        </div>

    </div>

</body>