<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{game_title}}</title>
    <style>
        /* General Styles */
        body {
            background-color: rgb(185, 145, 196);
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: rgb(252, 247, 252);
            border-radius: 10px;
            box-shadow: 0 0 10px rgb(204, 53, 88);
            justify-content: center;
        }

        h1, h2, h3, h4, h5, h6 {
            margin-top: 0;
        }

        /* Form Styles */
        form {
            margin-top: 20px;
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        input[type="number"],
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
            resize: vertical;
        }

        input[type="submit"] {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: rgb(124, 124, 124);
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        input[type="submit"]:hover {
            background-color: navy;
        }

        /* Reviews Styles */
        .card {
            margin-top: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .card-body {
            padding: 15px;
        }

        .card-title {
            margin-top: 0;
        }

        .carousel-inner img {
            margin: auto;
        }

        .carousel img {
            margin: auto;
        }

    </style>
</head>
<body>
{{>message message=message}}
{{>nav}}
<br>
<div class="container">
    <h1 style="text-align:center; margin: 0 auto;">{{game_title}}</h1>
    
    <!-- Image Carousel -->
    <div id="images" class="carousel slide" data-ride="carousel" style="max-width:569px; margin-left: auto; margin-right: auto;">
        <div class="carousel-inner">
            <div class="carousel-item active" id="cover">
                {{!-- <img class="d-block w-100" src="{{cover}}" alt="Cover Slide"> --}}
            </div>
            <script>
                    var og_url = "{{cover}}";
                    var new_url = og_url.replace('t_thumb','t_screenshot_med');

                    var img = document.createElement('img');
                    img.src = new_url;
                    img.class="d-block w-100";
                    img.style="max-width:569px; max-height: 374px; margin-left: auto;margin-right: auto;width: auto; height: auto;"
                    img.alt="Cover Slide";
                    document.getElementById('cover').appendChild(img);
            </script>
            {{#each artworks}}
            <div class="carousel-item" id="{{this.id}}">
{{!--                 <img class="d-block w-100" src="{{this.url}}" alt="Artwork Slide">--}}
            </div>
            <script>
                var og_url = '{{this.url}}';
                var new_url = og_url.replace('t_thumb','t_screenshot_med');
                
                var img = document.createElement('img');
                img.src = new_url;
                img.class="d-block w-100";
                img.alt="Artwork Slide";
                img.style="max-width:569px; max-height: 320px; margin-left: auto;margin-right: auto;width: auto; height: auto;"
                document.getElementById('{{this.id}}').appendChild(img);
            </script>
            {{/each}}
            {{#each screenshots}}
            <div class="carousel-item" id="{{this.id}}">
                {{!-- <img class="d-block w-100" src="{{this.url}}" alt="Screenshot Slide"> --}}
            </div>
            <script>
                var og_url = '{{this.url}}';
                var new_url = og_url.replace('t_thumb','t_screenshot_med');
                
                var img = document.createElement('img');
                img.src = new_url;
                img.class="d-block w-100";
                img.alt="Screenshot Slide";
                img.style="max-width:569px; max-height: 320px; margin-left: auto;margin-right: auto;width: auto; height: auto;"
                document.getElementById('{{this.id}}').appendChild(img);
            </script>
            {{/each}}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#images" data-bs-slide="prev" id="carousel-prev" style="color:red">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#images" data-bs-slide="next"id="carousel-next" style="color:red">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
    </div>
    
    <!-- Table of Descriptors -->
    <table class="table">
        <tr>
            <td>Developers:</td>
            {{#each developers}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
        <tr>
            <td>Released:</td>
            <td>{{date}}</td>
        </tr>
        <tr>
            <td>Genres:</td>
            {{#each genre}}
            <td>{{this.name}}</td>
            {{/each}}
        </tr>
        <tr>
            <td>Platforms:</td>
            {{#each platform}}
            <td>{{this.name}}</td>
            {{/each}}
        </tr>
        <tr>
            <td>Rating:</td>
            <td>{{rating}}</td>
        </tr>
        <!-- Add more rows as needed -->
    </table>

    <!-- Description Section -->
    <h2>Description</h2>
    <p>{{summary}}</p>
    

    <!-- Follow Button -->
    <form action="/game/follow" method="POST">
        <input type="hidden" name="username" value="{{username}}">
        <input type="hidden" name="game_title" value="{{game_title}}">
        <div class="d-flex justify-content-center" style="margin-top: 20px;">
            <button type="submit" class="btn btn-primary custom-btn follow-btn" style="background-color: #8f04ba; color: white; border-color: #ff00f7;">
                <i class="fas fa-thumbs-up"></i> Follow This Game
            </button>
        </div>
    </form>

    <form action="/chat" method="GET">
        <input type="hidden" name="game_title" value="{{game_title}}">
        <div class="d-flex justify-content-center" style="margin-top: 20px;">
            <button type="submit" class="btn btn-primary custom-btn follow-btn" style="background-color: #d74a4d; color: white; border-color: #ff00f7;">
                <i class="fas fa-thumbs-up"></i> Join Global GameChat
            </button>
        </div>
    </form>
</div>
<br>
<!-- Review Form -->
<div class="container">
    <h3>Submit a Review</h3>
    <form action="/game" method="POST">
        <label for="rating">Rating:</label>
        <input type="number" id="rating" name="rating" min="1" max="10" required>
        <label for="review_text">Review:</label>
        <textarea rows="6" id="review_text" name="review_text" maxlength="2000" placeholder="Played the game? Write a review here..." required></textarea>
        <input type="hidden" id="username" name="username" value="{{username}}">
        <input type="hidden" id="game_title" name="game_title" value="{{game_title}}">
        <input type="submit" value="Submit">
    </form>
</div>
<br>
<!-- Reviews Section -->
<div class="container">
    <h3>Reviews</h3>
    {{#if reviews}}
    {{#each reviews}}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{this.username}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Rating: {{this.rating}}</h6>
            <p class="card-text">{{this.review_text}}</p>
        </div>
    </div>
    <br>
    {{/each}}
    {{else}}
    <h6>It's quiet in here...</h6>
    {{/if}}
</div>

</body>
</html>